<div class="dropdown ">
  <a class="btn btn-outline-primary dropdown-toggle ml-3" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add to List
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <% if List.where(shop_id: Shop.where(user_id: User.find(21))).empty? %>
    <a class="dropdown-item" href="#">Pas de listes</a>
  <% else %>
    <% List.where(shop_id: Shop.where(user_id: User.find(21))).each do |list| %>
      <a class="dropdown-item" href="#"><%= list.name %></a>
    <% end %>
  <% end %>
  </div>
</div>
