<div class="dropdown ">
  <a class="btn btn-success text-white dropdown-toggle ml-3" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add to List
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <% List.where(shop_id: Shop.where(user_id: User.find(params[:id]))).each do |list| %>
    <a class="dropdown-item" href="#"><%= list.name %></a>
  <% end %>
    <a class="dropdown-item" href="#">Créer une nouvelle liste</a>
  </div>
</div>
