<p class="rating-num">
  <%= Clap.where(farm_id: params[:id]).count %>
</p>

<%= simple_form_for [ @farm, @clap ], remote: true, html: {class: "formclapbutton"} do |f| %>
  <i class="btn text-white fas fa-sign-language fa-2x pt-0 clapbutton">
    <% f.submit %>
  </i>
<% end %>