<div class="d-flex mb-2 justify-content-end">
  <p class="rating-num">
    <%= Clap.where(farm_id: params[:id]).count %>
  </p>

  <div class="align-self-center">
    <i class="fas fa-sign-language ml-2 fa-2x"></i>
  </div>

  <a class="btn btn-success text-white ml-2" href="#">
      Clap
  </a>
</div>