<div class="farm-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="farm-infos">
    <h2><%= farm.name %></h2>
  <p><%= farm.description %>.</p>
  </div>
</div>
