<div class="bg-success p-5">
  <div class="container">
    <h1 class='text-white'>Les fermes proches de vous</h1>
  </div>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="container">
  <p>Résultats</p>
</div>