// // Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// // Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

@font-face {
  font-family: "Averta";
  src: font-url('Averta/AvertaBold.otf') format("truetype");
  src: font-url('Averta/AvertaBold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "Averta";
  src: font-url('Averta/AvertaLight.otf') format("truetype");
  src: font-url('Averta/AvertaLight.woff') format('woff');
  font-weight: lighter;
}

@font-face {
  font-family: "Averta";
  src: font-url('Averta/Averta.otf') format("truetype");
  src: font-url('Averta/Averta.woff') format('woff');
  font-weight: normal;
}

$averta-font: "Averta";

@font-face {
  font-family: "TiempoHeadline";
  src: font-url('TiempoHeadline/TiempoHeadline-Bold.otf') format("truetype");
  font-weight: bold;
}


@font-face {
  font-family: "TiempoHeadline";
  src: font-url('TiempoHeadline/TiempoHeadline-Light.otf') format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "TiempoHeadline";
  src: font-url('TiempoHeadline/TiempoHeadline-Medium.otf') format("truetype");
  font-weight: normal;
}

$tiempo-font: "TiempoHeadline";

$body-font: $averta-font;
$headers-font: $averta-font;
