<%= render 'shared/navbar_user' %>
<div class="container my-5">
  <%= render 'my_chatrooms' %>
  <%# <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2 my-4">
      <button type="button" class="btn btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-outline-secondary">Export</button>
    </div>
  </div> %>
 <%#  <%= render 'displayed_chatroom' %>
</div> 
