<div class="container">  
    <footer class="footer pt-4 border-top">
      <div class="row">
        <div class="col-4 text-center">
          <h5>Nos services</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Notations</a></li>
            <li><a class="text-muted" href="#">Conseils</a></li>
            <li><a class="text-muted" href="#">Interventions</a></li>
            <li><a class="text-muted" href="#">Audit</a></li>
            <li><a class="text-muted" href="#">Coaching</a></li>
          </ul>
        </div>
        <div class="col-4 text-center">
          <h5>Contactez-nous</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">support@ecofarms.com</a></li>
            <li><a class="text-muted" href="#">Aide & Support</a></li>
            <li><a class="text-muted" href="#">Ressources presse</a></li>
            <li><a class="text-muted" href="#">Nous rejoindre</a></li>
            <li><a class="text-muted" href="#">A propos de nous</a></li>
          </ul>
        </div>
        <div class="col-4 text-center">
          <h5>Retrouvez-nous</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">YouTube</a></li>
            <li><a class="text-muted" href="#">Twitter</a></li>
            <li><a class="text-muted" href="#">Facebook</a></li>
            <li><a class="text-muted" href="#">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </footer>  
</div>     
</div>