<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light collapse">
  <div class="sidebar-sticky pt-3 border-right">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <span data-feather="user"></span>
          Mon Profil <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="list"></span>
          Mes Listes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="message-circle"></span>
          Mes Messages
        </a>
    </ul>
  </div>
</nav>