<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light collapse border-right pr-0">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column pl-3">
      <li>
        <%= link_to profile_user_path, class: "menu-option nav-link" do %>
          <i class="far fa-user"></i>
          <span class="pl-3"> Mon Profil</span>
        <% end %>
      </li>
      <li>
        <%= link_to user_lists_path, class: "menu-option nav-link" do %>
          <i class="fas fa-list"></i>
          <span class="pl-3">Mes Listes</span>
        <% end %>
      </li>
      <li>
        <%= link_to chatrooms_path, class: "menu-option nav-link" do %>
          <i class="far fa-comment"></i>
          <span class="pl-3">Mes Messages</span>
        <% end %>
    </ul>
  </div>
</nav>