#map{
  position: relative;
}

.farm-card {
  overflow: hidden;
  height: 100%;
  width: 300px;
  background: $light !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: absolute !important;
  right: 0px;

}

.farm-card img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.farm-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.farm-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.farm-card .farm-infos {
  padding: 16px;
}


