#map {
  position: relative;
}

#list_name::placeholder {
  font-style: italic;  
}

.farm-card {
  overflow: hidden;
  height: 93%;
  width: 280px;
  background: $primary !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: absolute !important;
  right: 20px;
  top: 15px;
  border-radius: 5px;

}

.farm-card img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.farm-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.farm-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.farm-card .farm-infos {
  padding: 16px;
}

.sc-gauge-card  {
  width:100px;
  margin: 0 auto;
}

.sc-background-card {
  position:relative;
  height:50px;
  margin-bottom:10px;
  background-color:#fff;
  border-radius:150px 150px 0 0;
  overflow:hidden;
  text-align:center;
}

.sc-mask-card {
  position:absolute;
  top:10px;
  right:10px;
  left:10px;
  height:40px;
  background: $primary !important;
  border-radius: 150px 150px 0 0;
}

.sc-percentage-card {
  position:absolute;
  top:50px;
  left:-100%;
  width:200%;
  height:200%;
  margin-left:50px;
  background: linear-gradient(90deg, rgba(64,245,9,1) 0%, rgba(198,230,10,1) 50%, rgba(229,148,12,1) 100%);
  transition: transform 2s ease;
}

.sc-percentage-card {
  transform-origin: top center;
}

.sc-value-card {
  position: absolute;
  top: 50%;
  left:0;
  width: 100%;
}

