.container-body {
  min-height: calc(100vh - 70px - 200px);
  font-size: 1rem;
}

.message-menu {
  min-height: calc(100vh - 70px - 70px - 200px);
}

.message-container {
  width: max-content;
}

footer {
  background-color: white;
  height: 200px;
}
