.rating-num { 
  margin: 0px;
  font-size: 24px;
}

.sc-gauge  {
  width:200px;
  margin: 0 auto;
}

.sc-background {
  position:relative;
  height:100px;
  margin-bottom:10px;
  background-color:#fff;
  border-radius:150px 150px 0 0;
  overflow:hidden;
  text-align:center;
}

.sc-mask {
  position:absolute;
  top:20px;
  right:20px;
  left:20px;
  height:80px;
  background-color: $primary;
  border-radius: 150px 150px 0 0;
}

.sc-percentage {
  position:absolute;
  top:100px;
  left:-200%;
  width:400%;
  height:400%;
  margin-left:100px;
  background: linear-gradient(90deg, rgba(64,245,9,1) 25%, rgba(198,230,10,1) 50%, rgba(229,148,12,1) 75%);
  transition: transform 2s ease;
}

.sc-percentage {
  transform-origin: top center;
}

.sc-value {
  position: absolute;
  top: 50%;
  left:0;
  width: 100%;
  font-size: 45px;
}

.progress {
  background: linear-gradient(90deg, rgba(229,148,12,1) 0%, rgba(198,230,10,1) 50%, rgba(64,245,9,1) 100%); 
}

.progress-bar {
  background: transparent;
}

.progress-bar-2 {
  background: lightgrey;
}

.nav-item a {
  color: lightgrey;
  :hover {
    color: #f6a030;
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: white;
  border-color: white;
}
