.tab {
  overflow: hidden;
}

.tabcontent {
  display: none;
}

.menu-option {
  text-decoration: none!important;
  margin-top: 5px;
  &:hover {
    color: black;
    background-color: #E8E8E8;
  }
}

#myTab{
  border-bottom: 0px;
}

.nav-item a {
  color: lightgrey;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: white;
  border-color: white;
}
